<%- include("partials/header.ejs") %>
    <main>
        <h1>Welcom to my book-notes web-app</h1>
        <% if (books.length===0){ %>
        <p>no books yet</p>
        <form class="form-add" action="/add" method="post" >
            <h2>Add a new book</h2>
            <label for="title">title</label>
            <input type="text" name="title" id="">
            <label for="author">author</label>
            <input type="text" name="author" id="">
            <label for="date">date</label>
            <input type="date" name="date" id="">
            <button >Add</button>
        </form>
        <% }else{ %>
        
        <form class="form-add" action="/add" method="post" >
            <h2>Add a new book</h2>
            <label for="title">title</label>
            <input type="text" name="title" id="">
            <label for="author">author</label>
            <input type="text" name="author" id="">
            <label for="date">date</label>
            <input type="date" name="date" id="">
            <button >Add</button>
        </form>
        <div class="books-container">
            <% books.forEach(book => {%>
                <div class="book-container" id="book-info<%= book.id %>">
                    <% if (book.cover_id) { %>
                    <img 
                        src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg"
                        alt="Book cover"
                        width="170"
                        height="200"
                    >
                    <% } %>
                    <div>
                        <div class="title-author-div">
                            <a href="/view/<%= book.id %>"><h3><%= book.title %></h3></a>
                            <p> <span><b>by: </b></span><%= book.author %></p>
                        </div>
                    </div>
                </div>
            <% }); } %> 
       </div>


    </main>
    
    <script>
        function handler(id){
            document.getElementById("book-info"+id).setAttribute("hidden",true);
            document.getElementById("edit-btn"+id).setAttribute("hidden",true);
            document.getElementById("editBook"+id).removeAttribute("hidden")
        }
    </script>
<%- include("partials/footer.ejs") %>