<%- include("partials/header.ejs") %>
    <div class="main-view-book">
            <% books.forEach(book => {%>
                <div class="book-view-container" id="book-info<%= book.id %>">
                    <% if (book.cover_id) { %>
                    <img 
                        src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg"
                        alt="Book cover"
                        width="200"
                        height="250"
                    >
                    <% } %>
                    <div>
                        <div class="title-author-div">
                            <div>
                                <label>Title: </label>
                                <h3><%= book.title %></h3>
                            </div>
                            <p> <span><b>Author: </b></span><%= book.author %></p>
                            <label for="notes">Notes:</label>
                            <p><%= book.notes %></p>
                            <label for="rate">Rate:</label>
                            <p><%= book.rating %></p>
                            <label for="date_read">Read Date:</label>
                            <p><%= book.date_read %></p>
                        </div>
                        <div class="del-edit-div">
                            <form action="/update" method="post" >
                                <div id="editBook<%= book.id %>" hidden="true">
                                    <input type="text" name="bookId" id="" hidden="true" value="<%= book.id  %>">
                                    <input type="text" name="updatedTitle"  value="<%= book.title%>" >
                                    <input type="text" name="updatedAuthor"  value="<%= book.author%>">
                                    <input type="number" name="updatedRating" value="<%= book.rating%>">
                                    <input type="text" name="updatedNotes" value="<%= book.notes%>">
                                    <input type="date" name="updatedDate" value="<%= book.date_read? book.date_read.toISOString().split('T')[0] : ''%>">
                                    <button id="done<%= book.id %>">done</button>
                                </div>
                            </form>
                            <button id="edit-btn<%=book.id%>" onclick="handler('<%= book.id %>')">edit</button> 
                            
                            <form action="/delete" method="post">
                                <button onchange="this.form.submit()" name="deleteBookId" value="<%= book.id %>">delete</button>
                            </form>  
                        </div>
                    </div>
                </div>
            <% }); %> 
       </div>

    <script>
        function handler(id){
            document.getElementById("book-info"+id).setAttribute("hidden",true);
            document.getElementById("edit-btn"+id).setAttribute("hidden",true);
            document.getElementById("editBook"+id).removeAttribute("hidden")
        }
    </script>
<%- include("partials/footer.ejs") %>